.delivery-address-container {
    padding-left: 300px;
}
.address-image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2em;
}

.delivery-address-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    padding-bottom: 10vh;
}
.order-form  p{
    font-family:'Merriweather',Serif;
    font-size:0.7em;
}

#address-input {
    height: 10vh;
    width: 30vw;
    margin-top: -5vh;
    border-radius:8px;
}

#phone-input {
    width: 30vw;
    height: 4vh;
    margin-top: -5vh;
    border:0.5px solid black;
    box-shadow:none;
}

.delivery-buttons{
    width:30vw;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
}

#address-next-button {
    width: 7em;
    height: 3em;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(39, 10, 10);
    color: white;
    font-family: Merriweather, Serif;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.address-image-container img{
 width:300px;
 height:auto;
}
.address-image-container{
    padding-top: 15%;
    padding-right: 4em;
}
@media only screen and (max-width: 600px){
    .delivery-buttons{
        width:80vw;
    }
    .delivery-address-container{
        padding: 0%;
    }
    .section-header
    {
        text-align: center;
    }
    .address-image-container{
        display: none;
    }
    .address-image-wrapper{
        flex-direction: column;
    }
}
