.user-reset-password-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-top: 7%;
    padding-right: 3%;
    width: 80vw;
}

.user-reset-password-caption-1{
    font-family: 'Raleway', sans-serif;     
    font-size: 1.45em;
    box-sizing: border-box;
    font-weight: bold;
    margin-top:2em;
    
}


.user-reset-button{
    
    font-size: 1em;
    width:7em;
    height: 3em; 
    background-color: rgb(68, 19, 19);
    border-radius: 20px;
    text-align: center;
    color: white;
    outline:none;
}

label{
    font-family: 'Merriweather',serif;
}


.form-items-reset-password-1{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.password-image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.password-image-container img{
    width:300px;
    height:auto;
}
.password-image-container{
    padding-right: 4em;
    padding-top: 2em;
}


.user-reset-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    height: 3vh;
    border-radius: 8px;
    box-shadow: 3px 5px 5px #888888;
}

select{
    height: 4vh;
    width: 20vw;
    border-radius: 8px;
    box-shadow: 3px 5px 5px #888888;
}
@media only screen and (max-width: 600px) {
    .user-reset-password-caption-1{
        width:100vw;
        text-align: center;
    }
    .password-image-wrapper{
        flex-direction: column;
    }
    .password-image-container{
        display: none;
    }
    .user-reset-password-wrapper{
        align-items: center;
        width: 100vw;
        
    }
    
}