.reset-container{
    
    display: flex;
    flex-direction: column;

}

.reset-sub-container{
    margin-top: 58px;
    display: flex;
    flex-direction: row;
}


.reset-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
    height: 90vh;
    width: 50vw;
    /* background-color: aqua; */
}

.reset-input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    /* background-color: brown; */
}

.reset-image-caption{
    padding-top: 5vh;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
}

.reset-input-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 70vh;
    width: 60%;
    border-radius: 10px;
    background-color: rgb(209, 202, 202);
    box-shadow: 3px 5px 5px #888888;
}

.reset-caption{
    font-family: 'Raleway', sans-serif;     
    font-size: 26px;
    box-sizing: border-box;
    font-weight: bold;
    width: 90%;
    margin-top:2em;
    text-align: center;
    
}


.reset-input-field{
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    margin-top:8em; 
    height: 15%;
    width: 70%; 
    /* background-color: white;  */
} 



.reset-button{
    
    font-size: 1.3em;
    width:15vw;
    height: 6vh; 
    background-color: rgb(68, 19, 19);
    border-radius: 20px;
    text-align: center;
    color: white;
}

.reset-alternative-options{
    padding-top: 2vh;
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    font-size: 12px;
}

label{
    font-family: 'Raleway', sans-serif;
}


.form-items-resetpassword{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 3vh;
}


.reset-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    height: 3vh;
    border-radius: 0px;
    box-shadow: 3px 5px 5px #888888;
}

select{
    height: 4vh;
    width: 100%;
    border-radius: 8px;
    box-shadow: 3px 5px 5px #888888;
}

.reset-image-container img{
    width:40vw;
    height:auto
}
@media (max-width: 768px)
{
    .reset-image-container{
        display:none;
        
    }
    .login-input{
        justify-content:center;
        width:100vw;
    }
    .login-input-container{
        width:70vw;
    }
}